@import url('/src/Components/Header.css');
@import url('/src/Components/Main.css');
@import url('/src/Components/Shortener.css');
@import url('/src/Components/Statistics.css');
@import url('/src/Components/Card.css');
@import url('/src/Components/Results.css');
@import url('/src/Components/Popup.css');
@import url('/src/Components/PopupWithForm.css');
@import url('/src/Components/Loading.css');
@import url('/src/Components/Footer.css');

.body{
  background-color: #ddd4d4;
  font-family: Arial, sans-serif;
  margin: 0;
}